[Desktop Entry]
Name=Починить сетевые папки
Comment=Починить сетевые папки
GenericName=
Keywords=
Exec=sh /usr/bin/reconnect-share.sh
Terminal=false
Type=Application
Icon=/usr/bin/reconnect-share.png
Path=
Categories=
NoDisplay=false
