[Desktop Entry]
Version=1.0
Name=Chromium Web Browser
Name[ru]=Телефонный справочник администрации ПАО "Газпром"
Exec=/usr/bin/chromium-browser %U https://www1.adm.gazprom.ru/phones_new.htm
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium-browser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupWMClass=Chromium-browser
Keywords=web;browser;internet;
Actions=new-window;new-private-window;

